#container{
    width: 100%;
    height: 100%;
    background-color: orange;
}            
#header{
    width: 100%;
    height: 80px;
    background-color: red;
}
#footer{
    width: 100%;
    height: 80px;
    background-color: green;
    float:left;
}
#menu{
    
    width: 20%; float:left;    
    height: 500px;            
    background-color: yellow;
}
#main{    
    padding: 25px;
    width: 100%;     
    height: 500px;
    background-image: url(images/211-2113135_hollow-knight-hornet-mask-png-download-hollow-knight.png);
    background-position: 100px;   
} 